.about-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  gap: 2rem;
  .content {
    padding: 0 3rem;
    flex-grow: 1;
    h1 {
      font-size: 3rem;
      font-weight: 100;
      margin-bottom: 2rem;
      @media screen and (max-width: 768px){
        font-size: 2rem;
      }
    }
    p {
      font-size: 1.5rem;
      line-height: 2.5rem; 
      color: #777777;
      @media screen and (max-width: 768px){
        font-size: 1rem;
      }
    }
  }
  .image {
    align-self: flex-end;
    width: -moz-available;
    img {
      width: 100%;
    }
  }
}
