.all-skills-section {
  background-color: #FFFFFF;
  padding: 20px 0;
  > div {
    width: 100%;
    align-self: center;
  }
  .title {
    color: #000;
  }
  .skills-container {
    max-width: 1000px;
    margin: auto;
  }
}